footer {
    padding: 1em 0 0.5em 1em;
    color: var(--grey);
    font-size: 0.75em;
    font-weight: 900;

    a {
        color: var(--grey);

        &:hover {
            color: var(--orange);
        }
    }
}

body:has(main.chat) {
    footer {
        display: none;
    }
}
