<div class="chatSend">

    <img src="{{ svgAttach }}" />

    {{> inputs/input/input 
        type="text"
        name="message"
        label=textVars.labels.messageText
    }}

    {{> inputs/button/button
        className="sendMessage"
        text=textVars.buttons.sendMessage
    }}

</div>