<div class="chatMenu">
    {{#if activeChat}}
        <b>{{ title }}</b>
        <div class="avatar">
            {{#if avatar}}
                <img src={{ avatar }} />
            {{/if}}
        </div>
        <nav>
            {{{ listUsers }}}
            {{{ changeAvatar }}}
        </nav>
    {{/if}}
</div>
