<div class="chatMenu">

    <b>{{ feedMessages.1.user }}</b>
    <div class="avatar"></div>
    <nav>
        <a href="#">{{ textVars.buttons.addContact }}</a>
        <a href="#">{{ textVars.buttons.clearChat }}</a>
        <a href="#">{{ textVars.buttons.deleteChat }}</a>
    </nav>
</div>