:root {
    --blue: rgb(32, 149, 199);
    --teal: rgb(37, 124, 131);
    --orange: rgb(247, 131, 64);
    --purple: rgb(154, 102, 175);
    --red: rgb(255, 82, 82);
    --grey: rgb(122, 120, 120);
    --background: rgb(255, 255, 255);
    --background-grey: #FcFcFc;
    --background-grey2: #FaFaFa;
    --black: rgb(50, 50, 60);
    --font-family: 'Comfortaa', tahoma, arial, sans-serif;
    --rem: 20px;
    --border-radius: 0.2em;
}
