main {
    display: grid;
    justify-content: center;
    align-content: center;    
    color: #1E1E1E;
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;  
    
    > form {
        position: relative;
        display: grid;
        grid-gap: 0.5em 0;
        width: min(350px, 80vw);
        padding: 0;
        text-transform: lowercase;

        .avatar {
            position: absolute;
            top: 0;
            right: 100%;
            margin-right: 2em;

            img {
                width: 8vw;
                height: 8vw;
                border-radius: 50%;
            }
        }

        .headerLinks {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 1.5em;

            a, label {
                line-height: 1;
                font-size: 0.8em;
                color: var(--orange);

                &:hover {
                    color: var(--purple);
                }
            }

            input {
                display: none;
            }
        }

        label {
            display: block;

            &:has(input) {
                display: grid;
            };
            
            input {
                display: block;
                width: 100%;
                border: 0;
                border-bottom: 2px solid var(--blue);
                text-align: center;
                outline: none;
                padding: 0.25em 0.5em;

                &::placeholder {
                    color: var(--background);
                }
            };

            span.label {    
                display: inline-block;
                position: relative;
                margin: 0 auto;
                padding: 0.25em 1em;
                font-family: var(--font-family);
                font-size: 12px;
                line-height: 1;
                background: var(--blue);
                color: var(--background);
                text-transform: lowercase;
                border-radius: 0 0 var(--border-radius) var(--border-radius);
            }

            &:hover {
                input {
                    border-bottom-color: var(--purple);
                }

                span.label {    
                    background: var(--purple);
                }

            }

            &.hasError,
            &.hasError:hover {
                input {
                    border-bottom-color: var(--red);

                    &::placeholder {
                        color: var(--red);
                    }
                }
                
                span.label {    
                    background: var(--red);
                }
                
            }

            button {
                &::before {
                    position: absolute;
                    content: '';
                    background: var(--orange);
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    transform: skew(10deg) rotate(-1.5deg);
                    border-radius: var(--border-radius);
                    z-index: -1;
                };

                position: relative;
                font-family: var(--font-family);
                font-size: var(--rem);
                border: 0;
                color: var(--background);
                padding: 0.45em 1em;
                border-radius: var(--border-radius);
                margin: 1em 0;
                z-index: 0;
                cursor: pointer;

                &:hover {
                    &::before {                        
                        background: var(--purple);
                    }
                    
                }
            }

        };

        > h1 {
            position: relative;
            display: none;
            margin-right: 0;
            margin-left: auto;
            width: auto;
            color: var(--background);
            text-align: right;
            font-family: var(--font-family);
            font-size: 1.1em;
            font-variation-settings: 'wght' 900;
            font-weight: 900;
            line-height: 1;
            padding: 0.5em 1em;
            z-index: 1;
        };

        > a {
            display: inline-block;
            align-self: end;
            text-decoration: none;
            font-family: var(--font-family);
            font-weight: 900;
            color: var(--orange);
            font-size: 0.75em;

            &:hover {
                color: var(--purple);
            }
        };

        div.error {
            font-size: 0.8em;
            margin: 1em auto;
            padding: 0.5em 1em;
            border-radius: calc(3 * var(--border-radius));
            color: var(--background);
            background: var(--red);
        }

    };

    a {        
        color: #3369F3;
        text-align: center;
        font-family: var(--font-family);
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 11px;
    }
}
