<label
    {{#if className }} 
        class = {{ className }}
    {{/if}}
>
    <input
        type = "file"
        name = {{ name }}
        {{#if allow.pictures }} 
            accept = "image/png, image/jpeg, image/gif"
        {{/if}}
    />
    {{{ fileButton }}}
</label>
