section.chatMessages {
    display: grid;
    position: relative;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0 2em;

    div.messages {
        height: 100%;
        overflow: auto; 
        display: flex;
        flex-direction: column-reverse;
    
        div.message {
            position: relative;
            font-size: 0.8em;
            max-width: 40%;
            text-align: left;
            padding: 0.5em 0 1em 0;
            margin: 0.5em auto 0.5em 0;

            span {
                font-size: 0.5em;
                position: absolute;
                bottom: 0;
                right: 0;
                color: var(--background);
                white-space: nowrap;
            }
            
            &:hover {
                span {
                    color: var(--blue);
                }
            }
    
            &.img {
                margin-bottom: 0;
                
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
    
            &[data-my="true"] {
                margin: 0.5em 0 0.5em auto;
            }
    
            &[data-unread="true"]:not([data-my="true"]) {
                border-left: 5px solid var(--orange);
                padding-left: 1em;
            }
        }
    
    }

}
