main.error {
    display: grid;
    justify-items: center;
    align-items: center;  

    * {          
        font-family: var(--fontFamily);
        font-size: var(--rem);
    };

    h1 {
        font-size: 1.5em;
        font-family: var(--fontFamily);
        color: var(--purple);
        line-height: 1;
        margin: 0 auto;
    };

    > a {        
        margin-top: 2em;
        font-family: var(--fontFamily);
        color: var(--orange);
        font-size: 0.85em;
        font-weight: 900;

        &:hover {
            color: var(--purple);
        }
    };
}

