<li class="feedChat">
    <div class="avatar"></div>
    <b>{{ title }}</b>
    <p>{{ text }}</p>
    <span class="time">{{ time }}</span>
    {{#if new }}
        <span class="new">{{ new }}</span>
    {{/if}}
</li>
